* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
a li ul p div h1 h2 h3 h4  {
padding: 0;
margin: 0;
}